.next
.turbo
node_modules
.npm
dist
.DS_Store
*.log
*.tmp
*.swp
*.swo
coverage
out
package-lock.json
pnpm-lock.yaml
yarn.lock
*.local
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
